/* Medium Tablet Styles */
#wrapper{border:none; margin:0% auto; padding:0%; width:80%; min-width:700px;max-width:1440px;border:1px solid #000000}
.box{padding:2%;margin:2% 0% 0% 2%;width:43%;display:inline-block;vertical-align:top;border:1px solid #000000}
.image-box{max-width:40%;float:left;padding:0px 2% 0% 0%;}
