#Redirect 302 /support/community-support/ask-a-question http://inmotionhosting.com/support/

# ########################################################################## #
# bradm - do not allow directory indexes, such as
# http://www.inmotionhosting.com/support/templates/supportcentertemplate/html/com_content/
# ########################################################################## #
Options -Indexes






# ########################################################################## #
# bradm - block malcious ip addresses
# ########################################################################## #
order allow,deny
SetEnvIF X-Forwarded-For "88.198.184.230" DenyIP
SetEnvIF X-Forwarded-For "120.28.247.235" DenyIP
SetEnvIF X-Forwarded-For "110.32.19.27" DenyIP
SetEnvIF X-Forwarded-For "77.127.234.49" DenyIP
SetEnvIF X-Forwarded-For "58.186.161.63" DenyIP
SetEnvIF X-Forwarded-For "27.153.211.212" DenyIP
SetEnvIF X-Forwarded-For "63.141.243.70" DenyIP
SetEnvIF X-Forwarded-For "94.181.51.79" DenyIP
SetEnvIF X-Forwarded-For "120.36.66.46" DenyIP
SetEnvIF X-Forwarded-For "122.178.228.253" DenyIP
SetEnvIF X-Forwarded-For "129.2.171.2" DenyIP
SetEnvIF X-Forwarded-For "93.115.83.250" DenyIP
SetEnvIF X-Forwarded-For "1.22.37.218" DenyIP
SetEnvIF X-Forwarded-For "110.89.46.78" DenyIP
Deny from env=DenyIP
allow from all






# ########################################################################## #
# tinymce icons not working after move to maxcdn
# http://support.maxcdn.com/howto/use-cdn-with-webfonts/
# ########################################################################## #
# ----------------------------------------------------------------------
# CORS-enabled images (@crossorigin)
# ----------------------------------------------------------------------
# Send CORS headers if browsers request them; enabled by default for images.
# developer.mozilla.org/en/CORS_Enabled_Image
# blog.chromium.org/2011/07/using-cross-domain-images-in-webgl-and.html
# hacks.mozilla.org/2011/11/using-cors-to-load-webgl-textures-from-cross-domain-images/
# wiki.mozilla.org/Security/Reviews/crossoriginAttribute
<IfModule mod_setenvif.c>
  <IfModule mod_headers.c>
    # mod_headers, y u no match by Content-Type?!
    <FilesMatch "\.(gif|png|jpe?g|svg|svgz|ico|webp)$">
      SetEnvIf Origin ":" IS_CORS
      Header set Access-Control-Allow-Origin "*" env=IS_CORS
    </FilesMatch>
  </IfModule>
</IfModule>
# ----------------------------------------------------------------------
# Webfont access
# ----------------------------------------------------------------------
# Allow access from all domains for webfonts.
# Alternatively you could only whitelist your
# subdomains like "subdomain.example.com".
<IfModule mod_headers.c>
  <FilesMatch "\.(ttf|ttc|otf|eot|woff|font.css|css)$">
    Header set Access-Control-Allow-Origin "*"
  </FilesMatch>
</IfModule>






RewriteEngine On

RewriteCond %{HTTPS} on
RewriteCond %{HTTP_HOST} ^inmotion\.net$ [OR]
RewriteCond %{HTTP_HOST} ^www\.inmotion\.net$
RewriteRule ^(.*)$ http://www.inmotionhosting.com/support/$1 [R=301,L]


# ########################################################################## #
# USE GZIP COMPRESSION WITHOUT DOING IT ON THE FLY - PRE COMPRESS EVERYTHING #
# http://www.cravediy.com/59-Simple-gzip-Support-for-Apache-with-mod_rewrite.html
# ########################################################################## #
#
# TO COMPRESS #
#
# http://linux.about.com/od/commands/a/Example-Uses-Of-The-Command-Gzip.htm
# If you want to keep the uncompressed version, you can use the -c option, which writes to standard out, and then re-direct (">") standard out to a file like this:
# gzip -c archivefile1.txt > archivefile1.txt.gz
#
#<IfModule mod_rewrite.c>
#        RewriteEngine On
#        RewriteCond %{HTTP:Accept-Encoding} gzip
#        RewriteCond %{REQUEST_FILENAME}.gz -f
#        RewriteRule (.*\.(js|css))$ $1.gz [L]
#</IfModule>
#        AddEncoding x-gzip .gz
#<FilesMatch .*\.css.gz>
#        ForceType text/css
#</FilesMatch>
<FilesMatch .*\.js.gz>
        ForceType application/x-javascript
</FilesMatch>






##
# @package		Joomla
# @copyright	Copyright (C) 2005 - 2013 Open Source Matters. All rights reserved.
# @license		GNU General Public License version 2 or later; see LICENSE.txt
##

##
# READ THIS COMPLETELY IF YOU CHOOSE TO USE THIS FILE!
#
# The line just below this section: 'Options +FollowSymLinks' may cause problems
# with some server configurations.  It is required for use of mod_rewrite, but may already
# be set by your server administrator in a way that dissallows changing it in
# your .htaccess file.  If using it causes your server to error out, comment it out (add # to
# beginning of line), reload your site in your browser and test your sef url's.  If they work,
# it has been set by your server administrator and you do not need it set here.
##

## Can be commented out if causes errors, see notes above.
Options +FollowSymLinks

## Mod_rewrite in use.

RewriteEngine On


## PREVENT URLs ending in a slash
RewriteCond %{HTTP_HOST} ^www\.inmotionhosting\.com$
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^(.*)/$ /support/$1 [L,R=301]


#Force www:
RewriteCond %{HTTP_HOST} !^[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+$
RewriteCond %{HTTP_HOST} !^$
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteCond %{HTTPS}s ^on(s)|
RewriteRule ^ http%1://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]


## Begin - Rewrite rules to block out some common exploits.
# If you experience problems on your site block out the operations listed below
# This attempts to block the most common type of exploit `attempts` to Joomla!
#
# Block out any script trying to base64_encode data within the URL.
RewriteCond %{QUERY_STRING} base64_encode[^(]*\([^)]*\) [OR]
# Block out any script that includes a <script> tag in URL.
RewriteCond %{QUERY_STRING} (<|%3C)([^s]*s)+cript.*(>|%3E) [NC,OR]
# Block out any script trying to set a PHP GLOBALS variable via URL.
RewriteCond %{QUERY_STRING} GLOBALS(=|\[|\%[0-9A-Z]{0,2}) [OR]
# Block out any script trying to modify a _REQUEST variable via URL.
RewriteCond %{QUERY_STRING} _REQUEST(=|\[|\%[0-9A-Z]{0,2})
# Return 403 Forbidden header and show the content of the root homepage
RewriteRule .* index.php [F]
#
## End - Rewrite rules to block out some common exploits.

## Begin - Custom redirects
#
# If you need to redirect some pages, or set a canonical non-www to
# www redirect (or vice versa), place that code here. Ensure those
# redirects use the correct RewriteRule syntax and the [R=301,L] flags.
#
## End - Custom redirects

##
# Uncomment following line if your webserver's URL
# is not directly related to physical file paths.
# Update Your Joomla! Directory (just / for root).
##

# RewriteBase /

## Begin - Joomla! core SEF Section.
#
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
#
# If the requested path and file is not /index.php and the request
# has not already been internally rewritten to the index.php script
RewriteCond %{REQUEST_URI} !^/index\.php
# and the request is for something within the component folder,
# or for the site root, or for an extensionless URL, or the
# requested URL ends with one of the listed extensions
RewriteCond %{REQUEST_URI} /component/|(/[^.]*|\.(php|html?|feed|pdf|vcf|raw))$ [NC]
# and the requested path and file doesn't directly match a physical file
RewriteCond %{REQUEST_FILENAME} !-f
# and the requested path and file doesn't directly match a physical folder
RewriteCond %{REQUEST_FILENAME} !-d
# internally rewrite the request to the index.php script
RewriteRule .* index.php [L]
#
## End - Joomla! core SEF Section.


# http://stackoverflow.com/questions/7372551/block-by-useragent-or-empty-referer
# SetEnvIfNoCase User-Agent "^ScanAlert" bad_user
# Deny from env=bad_user






# --------------------------------------------
# 2014.01.31.1308 - BradM
# http://gtmetrix.com/add-expires-headers.html
# --------------------------------------------
<IfModule mod_expires.c>
# Enable expirations
ExpiresActive On 
# Default directive
ExpiresDefault "access plus 1 month"
# My favicon
ExpiresByType image/x-icon "access plus 1 year"
# Images
ExpiresByType image/gif "access plus 1 month"
ExpiresByType image/png "access plus 1 month"
ExpiresByType image/jpg "access plus 1 month"
ExpiresByType image/jpeg "access plus 1 month"
# CSS
ExpiresByType text/css "access 1 month"
# Javascript
ExpiresByType application/javascript "access plus 1 year"
</IfModule>


RewriteCond %{REQUEST_METHOD} POST
RewriteCond %{HTTP_REFERER} !.*inmotionhosting.com.* [OR]
RewriteCond %{HTTP_USER_AGENT} ^$
RewriteRule ^(.*)$ - [R=403,L]

